<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276660638226-jh7mra6k1f0uh0pkdbrt0qaoausogu4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276660638226-jh7mra6k1f0uh0pkdbrt0qaoausogu4n</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gT6YpFH88o4TzF6EAE1OgBQMlIV4slM</string>
	<key>GCM_SENDER_ID</key>
	<string>276660638226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.elderage</string>
	<key>PROJECT_ID</key>
	<string>elderage-cf71b</string>
	<key>STORAGE_BUCKET</key>
	<string>elderage-cf71b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276660638226:ios:dabc1648cf1c3cf5a3becb</string>
</dict>
</plist>